black = #000000;
white = #ffffff;

*,
*::before,
*::after 
    box-sizing border-box
    margin 0
    padding 0

body
    font-family 'Mozilla Headline', sans-serif
    font-size calc(0.75vw + 0.75vh)
    background-color black
    color white

.hero
    display flex
    flex-direction column
    justify-content center
    align-items center
    min-height 100vh
    padding 0 35%
    gap 1em
    text-align center

.hero__title
    font-size calc(2vw + 2vh)

.hero__description
    font-size calc(1.25vw + 1.25vh)

.hero__social-links
    margin 0.7rem

.hero ul
    display flex
    gap 2rem

.hero li
    font-size calc(1.5vw + 1.5vh)
    list-style none

.hero a
    text-decoration none
    color inherit

.hero a:hover
    font-size calc(1.75vw + 1.75vh)
    transition 0.3s ease

.hero__paragraph
    line-height 2

@media (max-width: 768px)
    body
        font-size calc(1.25vw + 1.25vh)

    .hero
        padding 0 15%
    
    .hero__title
        font-size calc(3vw + 3vh)